.account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    min-height: 700px;

    color: black;
    padding: 50px;
    font-family: 'Arial', sans-serif;

    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    background-color: hsla(152, 100%, 50%, 0.4);
}

.account-dialogue-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid hsl(0,0%, 100%);
}

input{
    margin: 5px;
    text-align: center;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    border: 1px solid hsl(100,100%, 0%);
}

.no-link-style{
    text-decoration: none;
    color: inherit;
}
.no-link-style:hover{
    text-decoration: none;
    color: inherit;
    background-color: hsla(54, 100%, 50%, 0.9);
}

.label-container{
    text-align: left;
    justify-content: left;
}

h4{
    margin: 20px;
}
h6{
    margin: 20px;
}

.greeting-container{
    align-items: center;
    text-align: center;
}


.button-container{
    align-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: small;
    font-weight: bold;
    margin:  5px auto;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid hsl(0,0%, 100%);
    background-color: hsla(152, 100%, 50%, 0.5);
    cursor: pointer;
    height: 30px;
    width: 100px;
}
.button-container:hover{
    background-color: hsla(54, 100%, 50%, 0.9);
}