.navbar{
    margin: 20px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    background-color: hsla(152, 100%, 50%, 0.5);
}


.navbar-link{
    padding: 10px;
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
}
.navbar-link:hover{
    background-color: hsla(54, 100%, 50%, 0.9);
    text-decoration: none;

}