.home-container {
    color: white;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    border: 1px solid hsl(0,0%, 80%);
    background-color: hsla(205, 100%, 20%, 0.7);
    margin: auto;
    width: 400px;
    min-height: 700px;
}
button{
    border: 1px solid hsl(0,0%, 100%);
    background-color:  hsla(225, 100%, 50%, 0.2);
    padding: 5px;
}
button:hover{
    background-color:  hsla(225, 100%, 50%, 0.5);
}

.logo-container{
    padding: 2px;
    width: 200px;
    height: auto;
    display: flex;
    margin: 10px auto ;
    align-content: center;
    justify-content: center;

}

.hint-container{
    text-align: center;
    font-size: medium;
}