.item-detail-container{
    padding: 5px;
    margin: auto;
    border: 1px solid hsl(10,10%, 80%);
    border-radius: 5px;
    width: 400px;
    height: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-detail-map-container{
    margin: auto;
}

.item-detail-card-container{
    margin: auto;
}
p{
    align-items: center;
    color: black;
}

img{
    height: 200px;
    width: auto;
    border-radius: 10px;
    border: 1px solid hsl(10,10%, 80%);

}