.ItemGallery-container{
    display: flex;
    justify-content: center;
    padding:10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    text-align: center;

    flex-wrap: wrap;
    max-width: 400px;



}

.ItemGalleryStatus-container{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 5px;
    padding:1px;
    border-radius: 5px;

    flex-direction: column;

    align-items: center;

}

.sell{
    background-color: hsla(100,100%,80%,0.8);
}
.give{
    background-color: hsla(0,100%,80%,0.8);
}
.lend{
    background-color: hsla(190,100%,80%,0.8);

}