.ItemGallery-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: auto;
    width: 400px;
    min-height: 700px;
    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    background-color: hsla(205, 100%, 20%, 0.7);

}
.Item-container{
    padding: 1px;
    border-radius: 5px;
    margin: 10px auto ;
    display: flex;
    min-height: 600px;
    width: 300px;
    gap: 3px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.ItemGalleryStatus-container{
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    display: flex;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    border: 3px solid hsl(0,0%, 100%);
    background-color: hsla(54, 100%, 50%, 0.9);
}
.ItemGalleryStatus-container:hover{
    background-color: hsla(160, 100%, 93%, 1);
}

.sell{
    background-color: hsla(9, 100%, 64%, 1)
}
.give{
    background-color: hsla(276, 100%, 50%, 0.5)
}
.lend{
    background-color: hsla(96, 100%, 50%, 0.5)

}