.ItemGallery-container{
    border: 1px solid hsl(0,0%, 80%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ItemGalleryStatus-container{
    width: 100px;
    height: 100px;
    margin: 1px;
    padding:1px;
    border: 1px solid hsl(0,0%, 80%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
}

.sell{
    background-color: hsla(100,100%,80%,0.8);
}
.give{
    background-color: hsla(0,100%,80%,0.8);
}
.lend{
    background-color: hsla(190,100%,80%,0.8);

}