.item-detail-container{
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsla(205, 100%, 20%, 0.7);
}
.item-detail-img-container{
}
.item-description-container{
    text-align: left;
    padding: 5px;
}
.item-detail-content-container{
    padding: 5px;
    list-style: none;
    text-align: left;
    font-size: xx-small;
}

.item-detail-map-container{
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 300px;
    border-radius: 5px;


}


.item-detail-card-container{
    margin: auto;
    width: 300px;
    height: 350px;
    border-radius: 5px;
}
p{
    align-items: center;
    color: black;
}

img{
    justify-content: start;
    margin: 5px;
    height: 200px;
    width: auto;
    border-radius: 10px;

}