.search-bar {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: center;
}

.search-input {
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    padding: 5px 5px;
}

.search-input:hover {
}

.search-input:focus {
}