.manage-container{
    border-radius: 5px;
    margin: auto;
    width: 400px;
    min-height: 600px;
    border: 1px solid hsl(0,0%, 80%);
}

.newItemForm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    width: 400px;
    min-height: 600px;
    color: black;
    padding: 50px;
    border: 1px solid hsl(0,0%, 100%);
    background-color: hsla(152, 100%, 50%, 0.4);
}


h2{
    align-items: center;
}

p{
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.text-area-container{
    font-family: 'Arial', sans-serif;
    font-size: small;
    width: 200px;
    min-width: 200px;
    max-width: 400px;
    min-height: 100px;
}



.button-item-container{
    margin: auto;
    display: flex;
    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    background-color: hsla(100,10%,10%,10%);
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}
.button-item-container:hover{
    background-color: hsla(50,10%,10%,40%);
}

.select-item-container{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

.select-container{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

button{
    margin: 5px;
    text-align: center;
    border: 1px solid hsl(0,0%, 80%);
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
}

.image-dialogue-container{

    border: 1px solid hsl(0,0%, 80%);
    border-radius: 5px;
    padding: 2px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
}
img{
    height: auto;
    width: 200px;
}

.load-img{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;


}
.load-img-message{
    font-size: xx-small;
    text-align: center;
    margin: auto;
    padding: 2px;
    width: 150px;
    align-content: center;
}

.load-img-button{
    align-content: center;
    font-size: small;
    text-align: center;
    margin: auto;
    padding: 2px;
    border: 1px solid hsl(0,0%, 80%);
    cursor: pointer;
    height: 20px;
    width: 100px;
    background-color: hsla(100,10%,10%,10%);
    border-radius: 5px;

}
.load-img-button:hover{
    background-color: hsla(50,10%,10%,40%);
}

.input-container{
 width: 200px;
    padding: 5px;
}