.manage-container {
    color: white;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    min-height: 700px;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsla(205, 100%, 20%, 0.7);
}
.newItemForm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    color: white;
}


h2{
    align-items: center;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: x-small;
    text-align: left;
}

.text-area-container{

    font-family: 'Arial', sans-serif;
    font-size: small;
    width: 200px;
    min-width: 200px;
    max-width: 350px;
    max-height: 500px;
    min-height: 100px;
    border: 1px solid hsl(0,0%, 0%);
    padding: 5px;
    border-radius: 5px;
}





.select-item-container{
    color: white;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

.select-container{
    color: white;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

button{
    margin: 1px;
    text-align: center;
    border: 1px solid hsl(0,0%, 80%);
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
}

.image-dialogue-container{

    border-radius: 5px;
    padding: 2px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    height:180px;
}
img{
    height: 50px;
    width: 50px;
}

.item-image-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100px;
    border: 2px solid hsl(0,0%, 100%);
}

.item-detail-img-container{
    border: 3px solid hsl(0,0%, 100%);
}

.load-img{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;


}
.load-img-message{
    font-size: xx-small;
    text-align: center;
    margin: auto;
    padding: 2px;
    width: 150px;
    align-content: center;
}

.input-container{
 width: 200px;
    padding: 5px;
}

.button-container{
    align-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: small;
    font-weight: bold;
    margin:  5px auto;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid hsl(0,0%, 100%);
    background-color: hsla(205, 100%, 20%, 0.7);
    cursor: pointer;
    height: 30px;
    width: 100px;
}
.button-container:hover{
    background-color: hsla(54, 100%, 50%, 0.9);
}

.position-container{
    display: flex;
    flex-direction: row;
}

.input-pos-container{
    width: 90px;
}

label{
    margin-top: 2px;
}
