.manage-container{
    border-radius: 5px;
    margin: auto;
    width: 400px;
    min-height: 600px;
}

.newItemForm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    width: 400px;
    min-height: 600px;
    color: black;
    padding: 50px;
    border: 1px solid hsl(0,0%, 100%);
    background-color: hsla(152, 100%, 50%, 0.4);
}


h2{
    align-items: center;
}

p{
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.text-area-container{
    font-family: 'Arial', sans-serif;
    font-size: small;
    width: 200px;
    min-width: 200px;
    max-width: 400px;
    min-height: 100px;
}





.select-item-container{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

.select-container{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
    border: 1px solid hsl(0,0%, 80%);
    width: 200px;
}

button{
    margin: 1px;
    text-align: center;
    border: 1px solid hsl(0,0%, 80%);
    border-radius: 5px;
    background-color: hsla(0,0%,0%,0%);
}

.image-dialogue-container{

    border: 3px solid hsl(0,0%, 100%);
    border-radius: 5px;
    padding: 2px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
}
img{
    border: 3px solid hsl(0,0%, 100%);
    height: 100px;
    width: 100px;
}

.load-img{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;


}
.load-img-message{
    font-size: xx-small;
    text-align: center;
    margin: auto;
    padding: 2px;
    width: 150px;
    align-content: center;
}


.load-img-button:hover{
    background-color: hsla(50,10%,10%,40%);
}

.input-container{
 width: 200px;
    padding: 5px;
}

.button-container{
    align-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: small;
    font-weight: bold;
    margin:  5px auto;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid hsl(0,0%, 100%);
    background-color: hsla(152, 100%, 50%, 0.5);
    cursor: pointer;
    height: 30px;
    width: 100px;
}
.button-container:hover{
    background-color: hsla(54, 100%, 50%, 0.9);
}
