.landing-container{
    display: flex;
    justify-content: center;

    padding: 5px;
    border-radius: 5px;
    border: 1px solid hsl(0,0%, 80%);
    margin: auto;
    width: 400px;
    min-height: 500px;
}


h1{
    text-align: center;
}